.ignored>.clearfix {
	opacity: 0.3;
	transition: opacity 1s ease 0.5s;
}
.ignored>.content {
	opacity: 0.3;
	transition: opacity 1s ease 0.5s;
}

.ignored>.links-bar {
	opacity: 0.3;
	transition: opacity 1s ease 0.5s;
}

.ignored>content {
	opacity: 0.3;
	transition: opacity 1s ease 0.5s;
	.links-bar{
		opacity: 1;
	}
}

li.ignored>.clearfix>.post-details {
    display: none;
}

li.ignored>.clearfix>.content {
    min-height: 50px;
}

li.ignored>.box>.sub-content.post-footer{
	display:none;
}

.post-row:not(.ignored) a.ignore {
	display: block !important;
}

.account.ignored {
	a.unignore {
		display: inline-block !important;
	}
}

.account:not(.ignored) a.ignore {
	display: inline-block !important;
}

.category-item.ignored {
	opacity: 0.2;
	
	* {
		padding: 0 !important;
	}
	
	.threadlastpost, .threadstats {
		display: none !important;
	}
	
	.threadinfo {
		a[href*="user"] {
			text-decoration: line-through !important;
		}
		
		> h3 {
			margin-top: 3px !important;
		}
		
		.threadstatus {
			min-height: 30px !important;
			visibility: hidden;
		}
	}
}