/** IMPORTANT: Edit your class hierarchy here, in order to hide the elements you need in the post.
This changes can be theme dependent. (The following are for nodebb-theme-exodus and nodebb-theme-persona) 
Feel free to add yours if the final result is not achieved on your theme and submitt a pull request on the repository to 
support it. 
**/

/**Rules for nodebb-theme-exodus**/
li.ignored>.box{
	opacity: 0.3;
	transition: opacity 1s ease 0.5s;
}
li.ignored>.box>.post-details {
    display: none;
}
li.ignored>.links-bar {
    display: none;
}

li.ignored>.box>.right-content>.content {
    min-height: 50px;
}

li.ignored>.box>.right-content>.sub-content.post-footer{
	display:none;
}

.btn.btn-sm.btn-success.unignoreForChat{
    white-space: pre-line;
}

/**Rule for nodebb-theme-persona**/
li.ignored>.content{
	opacity: 0.3;
	transition: opacity 1s ease 0.5s;
}

li.ignored>.post-footer>{
	display:none;
}

/*.post-row:not(.ignored) a.ignore {
	display: block !important;
}*/

.account.ignored {
	a.unignore {
		display: inline-block !important;
	}
}

.account:not(.ignored) a.ignore {
	display: inline-block !important;
}

.category-item.ignored {
	opacity: 0.2;
	
	* {
		padding: 0 !important;
	}
	
	.threadlastpost, .threadstats {
		display: none !important;
	}
	
	.threadinfo {
		a[href*="user"] {
			text-decoration: line-through !important;
		}
		
		> h3 {
			margin-top: 3px !important;
		}
		
		.threadstatus {
			min-height: 30px !important;
			visibility: hidden;
		}
	}
}