.post-row.ignored {
	opacity: 0.3;
	transition: opacity 1s ease 0.5s;
	
	.btn-group, .post-info {
		display: none;
	}
	
	.btn-group:first-child {
		display: block;
	}
	
	.post-header {
		background: lightgray;
		border: none !important;
	}
	
	.profile-image-block > a, .profile-image-block > span {
		display: none;
	}
}